<listEvent>
  <event xml:id="Pent1Sun">
    <label>1st Sunday after Pentecost</label>
  </event>
  <event xml:id="Pent2Sun">
    <label>2nd Sunday after Pentecost</label>
  </event>
  <event xml:id="Pent3Sun">
    <label>3rd Sunday after Pentecost</label>
  </event>
  <event xml:id="Pent4Sun">
    <label>4th Sunday after Pentecost</label>
  </event>
  <event xml:id="Pent5Sun">
    <label>5th Sunday after Pentecost</label>
  </event>
  <event xml:id="Pent6Sun">
    <label>6th Sunday after Pentecost</label>
  </event>
  <event xml:id="Pent7Sun">
    <label>7th Sunday after Pentecost</label>
  </event>
  <event xml:id="Pent8Sun">
    <label>8th Sunday after Pentecost</label>
  </event>
  <event xml:id="Pent9Sun">
    <label>9th Sunday after Pentecost</label>
  </event>
  <event xml:id="Pent10Sun">
    <label>10th Sunday after Pentecost</label>
  </event>
  <event xml:id="Pent11Sun">
    <label>11th Sunday after Pentecost</label>
  </event>
  <event xml:id="Pent12Sun">
    <label>12th Sunday after Pentecost</label>
  </event>
  <event xml:id="Pent13Sun">
    <label>13th Sunday after Pentecost</label>
  </event>
  <event xml:id="Pent14Sun">
    <label>14th Sunday after Pentecost</label>
  </event>
  <event xml:id="Pent15Sun">
    <label>15th Sunday after Pentecost</label>
  </event>
  <event xml:id="Pent16Sun">
    <label>16th Sunday after Pentecost</label>
  </event>
  <event xml:id="Pent17Sun">
    <label>17th Sunday after Pentecost</label>
  </event>
  <event xml:id="Cross">
    <label>Cross</label>
  </event>    
  <event xml:id="CrossFriday">
    <label>CrossFriday</label>
  </event>    
  <event xml:id="TheophanyEve">
    <label>Fast of Theophany</label>
  </event>
  <event xml:id="Theophany">
    <label>Theophany</label>
  </event>
  <event xml:id="Theophany2">
    <label>2nd day of Theophany</label>
  </event>
  <event xml:id="Theophany3">
    <label>3rd day of Theophany</label>
  </event>  
  <event xml:id="Theophany4">
    <label>4th day of Theophany</label>
  </event>
  <event xml:id="Theophany5">
    <label>5th day of Theophany</label>
  </event>
  <event xml:id="Theophany6">
    <label>6th day of Theophany</label>
  </event>
  <event xml:id="Theophany7">
    <label>7th day of Theophany</label>
  </event>
  <event xml:id="Theophany8">
    <label>8th day of Theophany</label>
  </event>
  <event xml:id="Meatfare">
    <label>Meatfare Sunday</label>
  </event>
  <event xml:id="Cheesefare">
    <label>Cheesefare Sunday</label>
  </event>
  <event xml:id="Lent1Sun">
    <label>1st Sunday of Lent</label>
  </event>
  <event xml:id="Lent2Sun">
    <label>2nd Sunday of Lent</label>
  </event>
  <event xml:id="Lent3Sun">
    <label>3rd Sunday of Lent</label>
  </event>
  <event xml:id="Lent4Sun">
    <label>4th Sunday of Lent</label>
  </event>
  <event xml:id="Lent5Sun">
    <label>5th Sunday of Lent</label>
  </event>
  <event xml:id="Lent6Sun">
    <label>6th Sunday of Lent</label>
  </event>
  <event xml:id="Lent7Friday">
    <label>7th Friday of Lent</label>
  </event>
  <event xml:id="PalmSunday">
    <label>Palm Sunday</label>
  </event>
  <event xml:id="GreatThursday">
    <label>Great Thursday (Maundy Thursday)</label>
  </event>  
  <event xml:id="GreatFriday">
    <label>Great Friday (Good Friday)</label>
  </event>
  <event xml:id="GreatSaturday">
    <label>Great Saturday (Holy Saturday)</label>
  </event>
  <event xml:id="Pascha">
    <label>Pascha (Easter) Sunday</label>
  </event>  
  <event xml:id="Apostles">
    <label>Feasts of the Apostles</label>
  </event>  
  <event xml:id="Prophets">
    <label>Feasts of the Prophets</label>
  </event>  
  <event xml:id="WaxTapers">
    <label>Feast of Wax-Tapers (i.e. Candlemas)</label>
  </event>  
  <event xml:id="NativityEve">
    <label>Eve of the Nativity</label>
  </event>
  <event xml:id="Nativity">
    <label>Nativity</label>
  </event>    
  <event xml:id="Nativity2">
    <label>The 2nd day of Nativity</label>
  </event>
  <event xml:id="StBasil">
    <label>Feast of St Basil the Great</label>
  </event>
  <event xml:id="FortyMartyrs">
    <label>Forty Martyrs</label>
  </event>
  <event xml:id="Martyrs">
    <label>Feasts of the Martyrs</label>
  </event>
  <event xml:id="Encaenia">
    <label>Encaenia</label>
  </event>
  <event xml:id="Reposed">
    <label>Reposed</label>
  </event>    
  <event xml:id="DivineLiturgy">
    <label>The Divine Liturgy (Mass)</label>
  </event>  
  <event xml:id="Morning">
    <label>Morning</label>
  </event>  
  <event xml:id="SanctificationChurch">
    <label>Sanctification Church</label>
  </event>
  <event xml:id="JohnBaptist">
    <label>John the Baptist</label>
  </event>
  <event xml:id="Ascension">
    <label>Ascension</label>
  </event>
  <event xml:id="StStephen">
    <label>St Stephen</label>
  </event>
  <event xml:id="AllSaints">
    <label>All Saints</label>
  </event>
  <event xml:id="Hierarchs">
    <label>Hierarchs</label>
  </event>
  <event xml:id="Saturdays">
    <label>Saturdays</label>
  </event>
  <event xml:id="MartyrsSaturday">
    <label>Saturday on the Martyrs</label>
  </event>
  <event xml:id="Lazarus">
    <label>Lazarus Saturday</label>
  </event>
  <event xml:id="Venerables">
    <label>Venerables</label>
  </event>
  <event xml:id="DormitionMary">
    <label>The Dormition of Mary</label>
  </event>
  <event xml:id="TeachingFathers">
    <label>The Teaching Fathers</label>
  </event>
</listEvent>